#grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.box {
  background: green;
  color: white;
  padding: 20px;
}

/* positions */
.one { grid-column: 1 / 4; }
.two { grid-column: 1 / 2; grid-row: 2 / 6; }
.three { grid-column: 2 / 3; grid-row: 2 / 3; }
.four { grid-column: 3 / 4; grid-row: 2 / 3; }
.five { grid-column: 2 / 3; grid-row: 3 / 4; }
.six { grid-column: 3 / 4; grid-row: 3 / 4; }
.seven { grid-column: 2 / 3; grid-row: 4 / 5; }
.eight { grid-column: 3 / 4; grid-row: 4 / 5; }
.nine { grid-column: 3 / 4; grid-row: 5 / 6; }
.ten { grid-column: 2 / 4; grid-row: 5 / 6; }
