#grid {
  display: grid;
  grid-template-rows: repeat(5, 124px); /* 5 columns of 124px */
  grid-template-columns: repeat(4, 242.5px);    /* 5 rows of 124px */
  gap: 10px;
}


.box {
  background-color: green;
  color: white;
  font-size: 20px;
  padding: 6px;
}

/* 1 */
/* Example: make the first item span columns 1 to 5 */
#box1 {
  grid-column: span 4/auto; 
}

/* 2 */
#box2 {
  grid-row: span 4/auto;
}

/* 3 */
#box3 {
  grid-column:  span 1/auto;
}

/* 4 */
#box4 {
  grid-column: span 2/auto;
}

/* 5 */
#box5 {
  grid-column: span 2/auto;
}

/* 6 */
#box6 {
  grid-column: span 1/auto;
}

/* 7 */
#box7 {
  grid-column: span 1/auto;
}

/* 8 */
#box8 {
  grid-column:span 1/auto;
}

/* 9 */
#box9 {
  grid-column:span 1/auto;
}

/* 10 */
#box10 {
  grid-column:span 3/auto;
}
