#grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
}

.box {
  background-color: green;
  color: white;
  font-size: 20px;
  padding: 6px;
}

/* 1 */
#box1 {
  grid-column: 1/5;
}

/* 2 */
#box2 {
  grid-row: 2 / 6;
}

/* 3 */
#box3 {
  grid-row: 2/3;
}

/* 4 */
#box4 {
  grid-column: 3/5 ;
}

/* 5 */
#box5 {
  grid-column: 2/4;
}

/* 6 */
#box6 {
  grid-column: 4/5;
}

/* 7 */
#box7 {
  grid-column: 2/3;
}

/* 8 */
#box8 {
  grid-column: 3/4;
}

/* 9 */
#box9 {
  grid-column: 4/5;
}

/* 10 */
#box10 {
  grid-column: 2/ 5;
}
